{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Librerías externas -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Hoja de Estilo -->
    <link rel="stylesheet" href="{% static '/static/css/style.css' %}">
    <!-- ícono-->
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/98/98076.png" type="image/x-icon">
    <title>{{titulo}}</title>
</head>
{% include 'cuenta/header.html' %}
{% block content%}
{% endblock content%}
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./asset/js/script.js"></script>
<script >document.addEventListener('DOMContentLoaded', function() {
    //El carrusel de Materialize.
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
    //Mensaje que ayuda.
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
    //Dropdown buttons, en español es un cajón de botones.
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {hover:true});
    //Efecto Materialboxed (La imagen se agranda, en fondo se obscurece).
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
    //Modal, un elemento similar al alert();
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
});</script>
</body>
</html>
