{% extends 'cuenta/base.html' %}
{% load static %}
{% block content %}
<section >
<style>
  .card-image{
    height:auto;
    width: auto;
    overflow: hidden;
}
</style>
    <div class="row">
      {% if productos %}
      {% for producto in productos %}
      <div class="col s12 m4 l3">
        <div class="card">
          <div class="card-image">
            <img src="/media/{{ producto.imagenLente }}">
            <span class="card-title"></span>
          </div>
          <div class="card-content">
            <p>Nombre Lente: {{ producto.nombreLente }}</p>
            <p>Codigo Lente: {{ producto.codLente }}</p>
            <p>Precio CLP: {{ producto.precioLente }}</p>
            {% if producto.conversion %}
              <p>Precio USD: {{ producto.conversion }}</p>
            {% endif %}
          </div>
          
          <div class="card-action">
            <a href="/pedidos/agregarPedidos/{{ producto.id }}">Comprar</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif  %}
    </div>
</section>
{% endblock content %}