{% include 'cuenta/base.html' %}
{% block main %}
<section class="container">
    <article class='row'>
    <article class='card-panel center-align col s6 offset-s3'>
        <div class="">
            <form action="" method="POST">
              {% csrf_token %}
              {% for campo in formulario %}
                <div class="input-field">
                    {{campo}}
                    <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                </div>
              {% endfor %}
              <input type="submit" class="black btn-large" value="Ingresar"><br><br>
              <a href="{% url 'redes:begin' 'facebook' %}" 
              class="waves-effect waves-light btn-large fb"
              style="background-color: #3b5998 !important;">Iniciar sesión con Facebook</a><br><br>
            </form>
        </div>
    </article>
    </article>
  </section>
{% endblock main %}