{% extends 'cuenta/base.html' %}
{% block content %}
<section class='container'>
    {% block main %}
    <article class='row'>
        {% if formulario1.errors or formulario2.errors %}
        {{ formulario1.errors }}
        {{ formulario2.errors }}
        {% endif %}
        <div class="card-panel">
            <form action="/crearUsuario/" method="post">
                {% csrf_token %}
                {% for campo in formulario1 %}
                <div class="input-field">
                    <label for="{{ campo.is_for_label }}">{{ campo.label }}</label>
                    {{ campo }}
                </div>
                {% endfor %}
                {{ formulario2 }}
                <input type="submit" class="btn" value="Registrar">
            </form>
        </div> 
    </article>
    {% endblock main %}
</section>
{% endblock content %}  
